*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body{
    background-color: black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

p{
    color: white;
    text-align: center;
    margin: 10px 0;
}

#map{
    display: grid;
    grid-template-columns: repeat(30, 28px);
    grid-template-rows: repeat(30, 28px);
}

canvas{
    border: 1px dotted white;
    width: 25px;
    height: 25px;
}

canvas:hover{
    border: 1px dotted cyan;
}

img{
    width: 996px;
}

#items{
    display: grid;
    grid-template-columns: repeat(16, 28px);
    grid-template-rows: repeat(40, 28px);
}

#items canvas{
    opacity: .5;
}

#items canvas:hover{
    opacity: 1;
}

#menu-container{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.534);
    display: none;
}

#menu{
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30vh;
}

#menu p{
    width: 100%;
    border: 1px solid rgb(26, 26, 26);
    background-color: rgba(0, 0, 0, 0.753);
    margin: 0;
    padding: 10px;
}

#selection{
    position: absolute;
    background-color: rgba(255, 0, 0, 0.178);
    border: 1px solid rgb(148, 0, 0);
    display: none;
}