*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body{
    background-color: black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

p{
    color: white;
    text-align: center;
    margin: 10px 0;
}

#map{
    display: grid;
    grid-template-columns: repeat(30, 28px);
    grid-template-rows: repeat(30, 28px);
}

canvas{
    border: 1px dotted white;
    width: 25px;
    height: 25px;
}

canvas:hover{
    border: 1px dotted cyan;
}

img{
    width: 996px;
}

#items{
    display: grid;
    grid-template-columns: repeat(16, 28px);
    grid-template-rows: repeat(40, 28px);
}

#items canvas{
    opacity: .5;
}

#items canvas:hover{
    opacity: 1;
}